PORT=8080
HOSTNAME=0.0.0.0
FE_HOST=https://samplefrontenddomain.com
ES_HOST=https://sampleelasticsearchhost.com
CORS_ALLOW_ALL=false
SSL_KEY=/dcuprojectsearch/fakessl/privkey.pem
SSL_CERT=/dcuprojectsearch/fakessl/fullchain.pem
