version: "3.8"
services:
  frontend:
    image: dcu-project-search-frontend:latest
    env_file:
      # Note that REACT_APP_* environment variables cannot be changed after React build.
      - frontend.env
    # these services will be started before this one
    depends_on:
      - backend
    volumes:
      - frontend:/var/lib/frontend
    # use host ports
    network_mode: "host"
  backend:
    image: dcu-project-search-backend:latest
    env_file:
      - backend.env
    volumes:
      - backend:/var/lib/backend
    # use host ports
    network_mode: "host"

volumes:
  frontend:
    driver: local
  backend:
    driver: local
